
#box{
   display: inline-block;
   margin: 50px 255px;
   width: 70%;
   border-bottom: 5px solid rgb(197, 50, 50);
   background-color: rgb(161, 161, 153);
}
.text {
    text-align: center;
    padding: 12px 2px;
    font-size: 2.4rem;
}
#intro h1{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 15px;
    text-decoration: underline;
    font-family:sans-serif;
}
#intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 900px;
}

body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  table{
      width: 100%;
      font-size: 1.2rem;
  }
table, th, td{
    border: 4px solid white;
    border-collapse: collapse;
}
th,td{
    padding: 11px 3px;
    background-color: rgb(247, 247, 91);
}
#note {
    margin: 15px 2px;
    
}
#note h3{
    text-align: center;
    padding-bottom: 15px;
    font-size: 1.7rem;
}
#note p{
    font-size: 1.1rem;
    background-color: rgb(189, 184, 184);
}
